body {
    margin: 0;
    padding: 0;
}

.TODO{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 15fr;
    grid-template-areas:
    "header header"
    "sidebar body";
}

.header {
    grid-area: header;
    background-color: yellow;
}

.sidebar {
    grid-area: sidebar;
    background-color: green;
}

.tdbody{
    grid-area: body;
    background-color: blue;
}
